In [4]:
import numpy as np
import pandas as pd

In [5]:
data = [[1.4, np.nan],
           [7.1, -4.5],
        [np.nan, np.nan],
        [0.75, -1.3]]
df = pd.DataFrame(data, columns=["one", "two"], index=["a", "b", "c", "d"])

In [6]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [7]:
#열 합
df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

In [9]:
#행 합
df.sum(axis=1)

a    1.40
b    2.60
c     NaN
d   -0.55
dtype: float64

In [11]:
df["one"].sum()

9.25

In [12]:
df.loc["b"].sum()

2.5999999999999996

In [14]:
df.mean(axis=1, skipna=False)
#NaN 모두 감안해서 산출. NaN이 하ㄴ라도 있으면 NaN으로 나옴

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [16]:
df.mean(axis=1, skipna=True)

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [17]:
one_mean = df.mean(axis=0)["one"]

In [18]:
two_min = df.min(axis=0)["one"]

In [20]:
df["one"] = df["one"].fillna(value = one_mean)

In [21]:
df["two"] = df["two"].fillna(value = two_min)

In [22]:
df

        one   two
a  1.400000  0.75
b  7.100000 -4.50
c  3.083333  0.75
d  0.750000 -1.30

In [28]:
#pandas의 DataFrame에 적용되는 통계함수
df.count() #전체 성분의(NaN이 아닌)값의 갯수를 계산.

one    4
two    4
dtype: int64

In [32]:
df.min() #최소값

one    0.75
two   -4.50
dtype: float64

In [33]:
df.max() #최댓값

one    7.10
two    0.75
dtype: float64

In [41]:
#count
#min, max
#argmin, argmax
#idxmin, idxmax
#quantile
#sum
#mean
#median
#mad
#std, var
#cumsum
#cumprod

In [42]:
df2 = pd.DataFrame(np.random.randn(6, 4),
                   columns=["A", "B", "C", "D"],
                   index=pd.date_range("20160701", periods=6))

In [43]:
df2

                   A         B         C         D
2016-07-01  0.181053 -2.800456 -0.692439 -0.545705
2016-07-02  0.677966 -1.650070 -0.816083 -0.187474
2016-07-03  0.455190  1.086674 -0.771758 -0.495694
2016-07-04 -0.009675  0.278871  0.200804  0.138732
2016-07-05  1.447643 -0.104294 -0.592558 -0.595629
2016-07-06  0.519304  1.195053  0.382039 -0.465502

In [45]:
df2["A"].corr(df2["B"])
#A열 B열 데이터 간의 상관걔수

0.10532104535732738

In [47]:
df2["B"].cov(df2["C"])
#B'열 데이터와 'C'열 데이터 간의 공분산

0.45206391795947493

In [48]:
df2.corr()
#모든 열의 상관계수

          A         B         C         D
A  1.000000  0.105321 -0.330005 -0.537568
B  0.105321  1.000000  0.537313  0.057335
C -0.330005  0.537313  1.000000  0.394972
D -0.537568  0.057335  0.394972  1.000000

In [49]:
df2.cov()
#모든 열의 공분산

          A         B         C         D
A  0.256258  0.084636 -0.088538 -0.076780
B  0.084636  2.520025  0.452064  0.025680
C -0.088538  0.452064  0.280892  0.059063
D -0.076780  0.025680  0.059063  0.079608

In [51]:
#정렬함수
dates = df2.index
random_dates = mp.random.permutation(dates)

In [52]:
df2 = df2.reindex(index=random_dates, columns=["D", "B", "D", "A"])

In [53]:
df2

                   D         B         D         A
2016-07-01 -0.545705 -2.800456 -0.545705  0.181053
2016-07-05 -0.595629 -0.104294 -0.595629  1.447643
2016-07-03 -0.495694  1.086674 -0.495694  0.455190
2016-07-02 -0.187474 -1.650070 -0.187474  0.677966
2016-07-04  0.138732  0.278871  0.138732 -0.009675
2016-07-06 -0.465502  1.195053 -0.465502  0.519304

In [58]:
df2.sort_index(axis=0)
#행방향으로 정렬

                   D         B         D         A
2016-07-01 -0.545705 -2.800456 -0.545705  0.181053
2016-07-02 -0.187474 -1.650070 -0.187474  0.677966
2016-07-03 -0.495694  1.086674 -0.495694  0.455190
2016-07-04  0.138732  0.278871  0.138732 -0.009675
2016-07-05 -0.595629 -0.104294 -0.595629  1.447643
2016-07-06 -0.465502  1.195053 -0.465502  0.519304

In [59]:
df2.sort_index(axis=0, ascending=False)
#내림차순

                   D         B         D         A
2016-07-06 -0.465502  1.195053 -0.465502  0.519304
2016-07-05 -0.595629 -0.104294 -0.595629  1.447643
2016-07-04  0.138732  0.278871  0.138732 -0.009675
2016-07-03 -0.495694  1.086674 -0.495694  0.455190
2016-07-02 -0.187474 -1.650070 -0.187474  0.677966
2016-07-01 -0.545705 -2.800456 -0.545705  0.181053

In [60]:
df2.sort_index(axis=1)
#열 방향으로 정렬

                   A         B         D         D
2016-07-01  0.181053 -2.800456 -0.545705 -0.545705
2016-07-05  1.447643 -0.104294 -0.595629 -0.595629
2016-07-03  0.455190  1.086674 -0.495694 -0.495694
2016-07-02  0.677966 -1.650070 -0.187474 -0.187474
2016-07-04 -0.009675  0.278871  0.138732  0.138732
2016-07-06  0.519304  1.195053 -0.465502 -0.465502

In [61]:
df2.sort_index(axis=1, ascending=False)

                   D         D         B         A
2016-07-01 -0.545705 -0.545705 -2.800456  0.181053
2016-07-05 -0.595629 -0.595629 -0.104294  1.447643
2016-07-03 -0.495694 -0.495694  1.086674  0.455190
2016-07-02 -0.187474 -0.187474 -1.650070  0.677966
2016-07-04  0.138732  0.138732  0.278871 -0.009675
2016-07-06 -0.465502 -0.465502  1.195053  0.519304

In [68]:
#중복을 제거한 유니크한 값들만 제시
uniques = df2["F"].unique()

KeyError: 'F'