In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(6, 4))

In [6]:
df.columns = ["A", "B", "C", "D"]
df.index = pd.date_range("20160701", periods=6)
#date.range() date를 생성하는 함수

In [7]:
df.index

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df

                   A         B         C         D
2016-07-01 -0.303739 -0.924646 -1.563125  1.383701
2016-07-02  0.739405 -0.078025 -1.209126  1.389094
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956
2016-07-04  0.758710  1.153272 -1.065130 -0.851044
2016-07-05 -0.978643  0.587333  0.657484 -0.329425
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320

In [9]:
df["F"] = [1.0, np.nan, 3.5, 6.1, np.nan, 7.0]
#np.nan NaN

In [10]:
df

                   A         B         C         D    F
2016-07-01 -0.303739 -0.924646 -1.563125  1.383701  1.0
2016-07-02  0.739405 -0.078025 -1.209126  1.389094  NaN
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956  3.5
2016-07-04  0.758710  1.153272 -1.065130 -0.851044  6.1
2016-07-05 -0.978643  0.587333  0.657484 -0.329425  NaN
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320  7.0

In [14]:
df.dropna(how="how")
#각각 행에서 NaN이 하나라도 있는 경우 행 삭제함

ValueError: invalid how option: how

In [15]:
df.dropna(how="all")
#각 행의 모든값이 NaN인 경우 행 삭제함

                   A         B         C         D    F
2016-07-01 -0.303739 -0.924646 -1.563125  1.383701  1.0
2016-07-02  0.739405 -0.078025 -1.209126  1.389094  NaN
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956  3.5
2016-07-04  0.758710  1.153272 -1.065130 -0.851044  6.1
2016-07-05 -0.978643  0.587333  0.657484 -0.329425  NaN
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320  7.0

In [16]:
df.fillna(value=0.5)
#NaN을 지정한 값으로 대체하고 싶으면

                   A         B         C         D    F
2016-07-01 -0.303739 -0.924646 -1.563125  1.383701  1.0
2016-07-02  0.739405 -0.078025 -1.209126  1.389094  0.5
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956  3.5
2016-07-04  0.758710  1.153272 -1.065130 -0.851044  6.1
2016-07-05 -0.978643  0.587333  0.657484 -0.329425  0.5
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320  7.0

In [17]:
df.isnull()
#NaN인 값을 불리언 마스크로 얻을 수 있음

                A      B      C      D      F
2016-07-01  False  False  False  False  False
2016-07-02  False  False  False  False   True
2016-07-03  False  False  False  False  False
2016-07-04  False  False  False  False  False
2016-07-05  False  False  False  False   True
2016-07-06  False  False  False  False  False

In [18]:
df.loc[df.isnull()["F"], :]
#그럼 이렇게 indexing 가능
#F열에서 NaN인 행 전체 선택

                   A         B         C         D   F
2016-07-02  0.739405 -0.078025 -1.209126  1.389094 NaN
2016-07-05 -0.978643  0.587333  0.657484 -0.329425 NaN

In [23]:
#이상치 포함되어 이슨 행 삭제하기

In [25]:
pd.to_datetime("20160701")
#문자열을 -> datetime데이터형으로 변환

Timestamp('2016-07-01 00:00:00')

In [27]:
df.loc[pd.to_datetime("20160701"), :]
#이런식으로 indexingeㅗ 가능하고

A   -0.303739
B   -0.924646
C   -1.563125
D    1.383701
F    1.000000
Name: 2016-07-01 00:00:00, dtype: float64

In [28]:
df.drop(pd.to_datetime("20160701"))
#이런식으로 행 삭제 가능
#drop() : 인덱스를 기준으로 특정 행 삭제

                   A         B         C         D    F
2016-07-02  0.739405 -0.078025 -1.209126  1.389094  NaN
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956  3.5
2016-07-04  0.758710  1.153272 -1.065130 -0.851044  6.1
2016-07-05 -0.978643  0.587333  0.657484 -0.329425  NaN
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320  7.0

In [31]:
#2개 행을 삭제할 때는 / 대괄화 주의
df.drop([pd.to_datetime("20160701"), pd.to_datetime("20160705")])

                   A         B         C         D    F
2016-07-02  0.739405 -0.078025 -1.209126  1.389094  NaN
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956  3.5
2016-07-04  0.758710  1.153272 -1.065130 -0.851044  6.1
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320  7.0

In [33]:
#열도 삭제가능. axis=1매개변수 명시하기!
df.drop("F", axis=1)

                   A         B         C         D
2016-07-01 -0.303739 -0.924646 -1.563125  1.383701
2016-07-02  0.739405 -0.078025 -1.209126  1.389094
2016-07-03 -1.326860 -1.538131  1.546721 -1.593956
2016-07-04  0.758710  1.153272 -1.065130 -0.851044
2016-07-05 -0.978643  0.587333  0.657484 -0.329425
2016-07-06 -1.567584  0.248663 -0.325909 -0.079320

In [34]:
df.drop(["F", "C"], axis=1)

                   A         B         D
2016-07-01 -0.303739 -0.924646  1.383701
2016-07-02  0.739405 -0.078025  1.389094
2016-07-03 -1.326860 -1.538131 -1.593956
2016-07-04  0.758710  1.153272 -0.851044
2016-07-05 -0.978643  0.587333 -0.329425
2016-07-06 -1.567584  0.248663 -0.079320

In [36]:
##통계함수

In [37]:
data = [[1.4, np.nan],
           [7.1, -4.5],
        [np.nan, np.nan],
        [0.75, -1.3]]

In [38]:
df = pd.DataFrame(data, columns=["one", "two"], index=["a", "b", "c", "d"])

In [48]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3